.topBar {
  background-color: #313131;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.menuBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menuItem {
  color: white;
  margin: 10px;
}

/* Dropdown Menu */

.html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.menu-container {
  text-align: center;
}

nav.ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  display: inline-block;
  margin: 2rem auto 0;
  background: #0d2035;
  color: #fff;
  text-align: left;
}

.nav:a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}

.nav__menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__menu-item {
  display: inline-block;
  position: relative;
}

.nav__menu-item:hover {
  background-color: #00aeef;
}

.nav__menu-item:hover.nav__submenu {
  display: block;
}

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 180px;
  background-color: #00aeef;
}

.nav__submenu-item:hover {
  background: rgba(#000, 0.1);
}
